/build
/captures
/local
/.idea/*
!/.idea/codeStyles/
!/.idea/codeStyles/**
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/**

*.iml
.gradle
.DS_Store
.externalNativeBuild
.cxx
local.properties
