accelerate==1.6.0
arithmetic_compressor==0.2
boto3==1.37.35
dahuffman==0.4.2
datasets==3.5.0
ipykernel==6.29.5
matplotlib==3.10.1
mypy==1.15.0
optimal-weight-formats @ git+https://github.com/graphcore-research/optimal-weight-formats.git@43648f441889ce17b8af1c065cf552381ea2b01f
pandas==2.2.3
pillow==11.3.0
pytest==8.3.5
scipy==1.15.2
seaborn==0.13.2
safetensors==0.8.0
torch==2.12.1
torchvision==0.27.1
transformers==5.12.1
triton==3.7.1
wandb==0.23.0
