device-smi==0.5.5
hf_transfer>=0.1.9
logbar==0.4.3
protobuf>=7.34.0
threadpoolctl>=3.5.0
tokenicer==0.0.13
gptqmodel @ git+https://github.com/ModelCloud/GPTQModel.git@9128cc5ed9c5c2c570f22ab9eaffa6a3fba9f12e
torchvision==0.27.1
